# Q1. Find out all the types of error that we have encountered in out lecture and why? also include the examples.

Ans:-

# 1. Syntax error:

    If their is any syntactical mistake like given below. we'll get SyntaxErro.

In [1]:
1a = 12

SyntaxError: invalid syntax (Temp/ipykernel_11124/1695479691.py, line 1)

In [2]:
A = 'It's going to be fun

SyntaxError: invalid syntax (Temp/ipykernel_11124/781474680.py, line 1)

# 2. Type Error:
    
    This type of error we get because concatenation will be done between same data type.

In [3]:
a = 5

In [4]:
b = 'rohit'

In [5]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 3. Value Error:
    
        This type of error we get because their is some restriction of type conversion.

In [6]:
int('rohit')

ValueError: invalid literal for int() with base 10: 'rohit'

# 4. Zero Division Error:
    
    In this type of error we can divide any value with zero. by default it become Infinity.

In [7]:
6/0

ZeroDivisionError: division by zero

# 5 . Name Error:

    We get this type of error when the variable is not available or defined.

In [8]:
myname = 'rohit'

In [9]:
print(Myname)

NameError: name 'Myname' is not defined

# Q2. Take input A and B and print their sum, mul, div, squre of the nos.

In [10]:
A = int(input('Enter first no: '))
B = int(input('Enter second no: '))
print(f'sum of A and B: {A+B}')
print(f'mul of A and B: {A*B}')
print(f'div of A and B: {A/B}')
print(f'square of A and B: {A*A},{B*B}')

Enter first no: 10
Enter second no: 20
sum of A and B: 30
mul of A and B: 200
div of A and B: 0.5
square of A and B: 100,400

# Q3. How many reserve keywords are there in python and why we should not use them as a variable name.

Ans:- 
        Python is a case sensitive language, and reserved keyword are used to define the syntax and structure of python  language.
    Reserved keyword are as follows:
    
    and       del       from      not       while    

    as        elif      global    or        with     

    assert    else      if        pass      yield    

    break     except    import    print              

    class     exec      in        raise              

    continue  finally   is        return             

    def       for       lambda    try

# Q4. Create email ids with the user inputs in the following format
    lastname.firstname@gmail.com

In [11]:
Name = input()
surname = input()
email  = print(f'{surname}.{Name}@gmail.com')

rohit
bansod
bansod.rohit@gmail.com

# Q5. Try to print the following lines-
    - Hi, I'm sunny.
    - My address is 22\3
    - I earn 20$ daily.

In [12]:
print("Hi, I'm sunny.")
print(f"My address is 22\\3")
print("I earn 20$ daily.")

Hi, I'm sunny.
My address is 22\3
I earn 20$ daily.

# Q6. Take user input(Name, Address, date of birth, etc.) to fill a form for your college and create their email ID's and print their email IDs.

In [13]:
Name = input('enter your name: ')
Surname = input("enter your surname: ")
City = input('enter your city: ')
DOB =  input('enter you DOB: ')
Sex = input('Male/Female: ')
Email = print(f'{Surname}.{Name}@ineuron.ai')

enter your name: Rohit
enter your surname: Bansod
enter your city: Wardha
enter you DOB: 26/10/1992
Male/Female: Male
Bansod.Rohit@ineuron.ai

# Q7. Convert the following
    a. "22.4" into int
    b. "22" into complex no

In [14]:
a = "22.4"
print(int(float(a)))

22

In [15]:
B = '22'
complex(B)

(22+0j)